<!--

<router-outlet></router-outlet> -->

<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<section>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">AccentBasic</button>
  <button mat-raised-button color="warn">Warn</button>
</section>

<section>
  <mat-spinner color="primary"></mat-spinner>
  <mat-spinner color="accent"></mat-spinner>
  <mat-spinner color="warn"></mat-spinner>
</section>

<br/>
<br/>
<div>
  <div class="special-theme">
    <button mat-raised-button color="primary">Primary</button>
    <mat-spinner></mat-spinner>
  </div>
</div>