/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";

// include all mixins (blocks of code) that are not theme related
@include mat-core();

$teknisk-primary: mat-palette($mat-pink);
$teknisk-accent:  mat-palette($mat-orange);

// The warn palette is optional (defaults to red).
$teknisk-warn:    mat-palette($mat-gray);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$teknisk-theme: mat-light-theme(
    $teknisk-primary,
    $teknisk-accent,
    $teknisk-warn,
);

@include angular-material-theme($teknisk-theme);

$special-primary: mat-palette($mat-blue-grey);
$special-accent:  mat-palette($mat-amber, A200, A100, A400);
$special-warn:    mat-palette($mat-deep-orange);
$special-theme:   mat-dark-theme($special-primary, $special-accent, $special-warn);

.special-theme {
  @include mat-progress-spinner-theme($special-theme);
}

html, body {
  height: 100%;
}
body {
  margin: 0;
}